<div class="home">
  <div class="video overlay">
    <video autoplay muted loop>
      <source
        src="../../../assets/video/cherries_-_43201 (Original).mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="text-center text-container">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Jumbotron with icon</h1>
      <p class="col-lg-8 mx-auto lead">
        This is a custom jumbotron featuring an SVG image at the top, some
        longer text that wraps early thanks to a responsive
        <code>.col-*</code> class, and a customized call to action.
      </p>
    </div>
    <button class="btn btn-primary px-5 mb-5" type="button">
      Call to action
    </button>
  </div>
</div>

<div class="container my-5">
  <div class="p-5 text-center search-container rounded-3">
    <h1 class="text-body-emphasis">Basic jumbotron</h1>
    <p class="lead">
      This is a simple Bootstrap jumbotron that sits within a
      <code>.container</code>, recreated with built-in utility classes.
    </p>
    <div class="container my-4 w-50 search">
      <app-search-bar></app-search-bar>
    </div>
  </div>
</div>

<div class="container my-5">
  <h2 class="">Hanging icons</h2>
  <router-outlet></router-outlet>
</div>
