<div class="home">
  <div class="video overlay">
    <video [autoplay]="true" [muted]="true" [loop]="true">
      <source
        src="../../../assets/video/coverr-red-apples-170-1080p.mp4"
        type="video/mp4"
      />
    </video>
  </div>
  <div class="text-center text-container">
    <div class="container py-5">
      <h1 class="text-light fw-bold">Explore Nutritional Values of Fruits</h1>
      <p class="col-lg-8 mx-auto lead text-light fw-semibold">
        Discover the Healthy and Sustainable Benefits of Fruits: Find the
        Nutritional Values that Will Transform Your Diet.
      </p>
    </div>
    <button
      class="btn btn-light px-5 mb-5"
      type="button"
      (click)="goToJumbotron()"
    >
      Explore Fruits!
    </button>
  </div>
</div>

<div id="jumbotron" class="container my-5">
  <div class="p-5 text-center search-container rounded-3">
    <h1 class="text-body-emphasis">Search for your fruit</h1>
    <p class="lead">Find your fruit and discover its nutritional values</p>
    <div class="container my-4 w-50 search">
      <app-search-bar></app-search-bar>
    </div>
  </div>
</div>

<div id="router-outlet" class="container my-5 pt-5">
  <h2 class="border-bottom p-4">All the fruits</h2>
  <div class="container my-5 pt-4">
    <router-outlet></router-outlet>
  </div>
</div>

<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    document.querySelector("video").play();
  });
</script>
