input {
  padding-right: 30px;
}

i {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.dropdown-menu {
  position: absolute;
  transform: translate3d(0px, 38px, 0px);
  top: 0px;
  left: 0px;
  will-change: transform;
}
